@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-mode: #191919;
    --solid-heading: #42446E;
    --gradient-heading: linear-gradient(90deg, #05B3FF 0%, #F40058 70%);
    --dark-content: #666666;
    --solid-heading-dark-content: #CCCCCC;
    --light-content: #A7A7A7;
    --button-text: #018C0F;
    --button-success: #D7FFE0;
    --card-background: #363636;
    --nav-font-family: 'Poppins';
    --body-font-family: 'DM Sans';
    --letter-spacing: 2px;
    --word-spacing: 2px;
    --container-padding: 50px;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(100vw);
    }

    100% {
        opacity: 1;
    }
}

body {
    position: relative;
    background-color: var(--dark-mode);
    max-width: 1400px;
    margin: 0 auto;
    scroll-behavior: smooth;
}

#outlet {
    margin-top: 6rem;
}


.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--nav-font-family);
    padding: 0.4rem 8rem;
    background: rgba(255, 255, 255, 0.072);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 100;
}

.topnav img {
    width: 4rem;
    height: 4rem;
}

.topnav .active {
    background-color: var(--dark-mode);
    background-image: var(--gradient-heading);
    animation: texthover 1s ease infinite;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.navbar_flex {
    display: flex;
    align-items: center;
}

.topnav_links {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding-right: 4rem;
}

.topnav_links a {
    text-decoration: none;
    color: var(--light-content);
    transition: all 0.5s ease;
}

@keyframes texthover {
    0% {
        background-size: 0%;
    }

    100% {
        background-size: 100%;
    }
}

.topnav_links a:hover {
    transform: scale(1.1);
    background-color: var(--dark-mode);
    background-image: var(--gradient-heading);
    animation: texthover .5s ease;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.topnav_socialmedia {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.topnav_socialmedia img {
    width: 2rem;
    height: 100%;
    margin-top: 8px;
    transition: transform .5s ease;
}

.topnav_socialmedia img:hover {
    transform: scale(1.2);
    fill: #018C0F;
}

.responsive {
    display: none;
}

@media screen and (max-width:550px) {
    .topnav {
        padding: 1rem 2rem;
    }

    .navbar_flex {
        z-index: 2;
        height: 100%;
        width: 0;
        overflow: hidden;
        transition: all .5s ease;
    }

    .responsive {
        display: inline-block;
    }

    .responsive img {
        width: 3rem;
        height: 3rem;
    }

    .cross {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .navbar_flex {
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--dark-mode);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }

    .topnav_links {
        flex-direction: column;
        padding: 0;
        width: 100%;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .topnav_links a {
        padding: 1rem 0;
    }
}

.herosection {
    animation: fade 1s ease-in-out;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 6rem 8rem 2rem;
    color: var(--solid-heading-dark-content);
    font-family: var(--body-font-family);
}

.hero_heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero_heading h1 {
    cursor: default;
    font-size: 42px;
    font-weight: 700;
    word-spacing: var(--word-spacing);
    letter-spacing: var(--letter-spacing);
}

.hero_heading_name {
    background-color: var(--dark-mode);
    background-image: var(--gradient-heading);
    animation: texthover .5s ease;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.hero_image {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@keyframes shadowfade {
    0% {
        box-shadow: 1px 1px 0 var(--solid-heading);
    }

    100% {
        box-shadow: 1px 1px 100px var(--solid-heading);
    }
}

.hero_image img {
    border-radius: 50%;
    width: 55%;
    animation: shadowfade 1s alternate-reverse infinite;
}

@media screen and (max-width:550px) {
    .herosection {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        gap: 4rem;
    }

    .hero_image {
        justify-content: center;
    }

    .hero_image img {
        width: 100%;
    }

    .about_container{
        padding: 32px 24px !important;
    }
}

.about_container {
    animation: fade 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--container-padding);
    font-family: var(--body-font-family);
}

.about_me {
    margin-bottom: 4rem;
}

.about_me h1 {
    text-align: center;
    color: var(--solid-heading-dark-content);
    font-weight: 700;
    margin-bottom: 2rem;
}

.about_me p {
    color: var(--light-content);
    text-align: center;
    font-size: 1.4rem;
}

.education_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.education_container h1 {
    color: var(--solid-heading-dark-content);
    text-align: center;
    margin-bottom: 2rem;
}

.education_info {
    width: 100%;
    cursor: default;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    border-bottom: 4px solid var(--card-background);
    gap: 16px;
}

.education_info .edu_one,
.edu_two {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light-content);
    font-size: 1.2rem;
}

.edu_one p {
    background-color: var(--button-success);
    opacity: 0.5;
    padding: 6px 12px;
    color: var(--button-text);
    font-weight: 600;
    border-radius: 24px;

}

.edu_two {
    opacity: 0.5;
    font-size: 1.2rem;
}

.edu_two img {
    width: 2rem;
}

.edu_two h6 {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

@media screen and (max-width:550px) {
    .about_me p{
        font-size: 1.2rem;
        text-align: left;
    }
    .edu_one{
        flex-direction: column;
        gap: 12px;
        align-items: flex-start !important;
    }
}

.my_tech_stack_section {
    animation: fade 1s ease-in-out;
    padding: var(--container-padding);
    display: flex;
    flex-direction: column;
    font-family: var(--body-font-family);
}

.mts_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    letter-spacing: 1px;
    word-spacing: var(--word-spacing);
    margin-bottom: 6rem;
}

.mts_heading h1 {
    color: var(--solid-heading-dark-content);
    font-weight: 700;
    font-size: 2.4rem;

}

.mts_heading h3 {
    color: var(--light-content);
    font-weight: 400;
    font-size: 1.4rem;
}

.mts_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.mts_flex img {
    width: 96px;
    height: 96px;
    transition: transform 0.5s ease;
}

.mts_flex img:hover {
    transform: scale(1.2);
}

@media screen and (max-width:550px) {
    .my_tech_stack_section {
        padding: 2rem;
    }

    .mts_heading h3 {
        font-size: 14px;
    }
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    bottom: 0;
    right: 0;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Project */

.card {
    position: relative;
    width: 1000px;
    height: 400px;
    background-color: #000;
    overflow: hidden;
}

.card_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.15;
    transition: opacity 0.25s, scale 0.35s;
}

.card:hover .card_image {
    opacity: 0.1;
    scale: 1;
}

.card_title {
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.card_description {
    font-size: 1.2rem;
    opacity: 0;
    transition: -25px;
    transition: opacity 0.25s, translate 0.25s;
}

.card:hover .card_description {
    opacity: 1;
    translate: 0;
}

.card_body {
    position: absolute;
    inset: 0;
    padding: 50px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    justify-content: center;
}

.card_body::before {
    content: '';
    position: absolute;
    inset: 20px;
    border: 2px solid #fff;
    opacity: 1;
    scale: 1.25;
    transition: opacity 0.25s, scale 0.25s;
}

.card:hover .card_body::before {
    opacity: 1;
    scale: 1;
}

.projects_container {
    animation: fade 1s ease-in-out;
    margin-top: 2rem;
    padding: var(--container-padding);
    font-family: var(--body-font-family);
    color: var(--solid-heading-dark-content);
}

.project_heading {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    letter-spacing: var(--letter-spacing);
    word-spacing: var(--word-spacing);
    margin-bottom: 2rem;
}

.project_heading h1 {
    font-size: 2.4rem;
}

.project_heading h3 {
    font-size: 1.4rem;
    font-weight: 400;
}

.projects_flex_container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    color: var(--light-content);
}

.projects_flex_container .achievements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: var(--light-content);
}

.projects_flex_container .achievements img {
    width: 400px;
}

.project_techstack {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.project_links {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 12px;
}

.project_link {
    background-color: var(--button-success);
    padding: 6px 12px;
    font-weight: 600;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.project_links img {
    color: var(--button-text);
    width: 16px;
    height: 16px;
}

.project_links a {
    color: var(--button-text);
    font-size: 12px;
}

@media screen and (max-width:550px) {
    .project_heading h3 {
        font-size: 1.2rem;
    }
    .projects_container{
        padding: 1.8rem;
    }
    .card{
        display: flex;
        flex-direction: column;
        height: auto;
        width:100%;
        border-radius: 12px;
    }
    .card_image{
        scale: 1;
    }
    .card:hover .card_image {
        opacity: 1;
        scale: 1;
    }
    .card_body{
        position: relative;
        inset: 0;
        padding: 16px;
        text-align: left;
        font-size: 1rem;
        font-weight: 200;
        color: var(--light-content);
    }
    .card_title{
        font-size: 1.4rem;
        font-weight: 200;
    }
    .card_description{
        opacity: 1;
        font-size: 16px;
    }
    .project_techstack{
        display: block;
    }
    .card_body::before{
        content: none;
    }

    .projects_flex_container .achievements img{
        width: 100%;
    }
}

.contact_container {
    animation: fade 1s ease-in-out;
    margin-top: 100px;
    padding: var(--container-padding);
    font-family: var(--body-font-family);
    color: var(--solid-heading-dark-content);
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 56px;
}

@media screen and (max-width:550px) {
    .contact_container {
        font-size: 24px;
        padding: 24px;
    }
    .contact_container h2{
        font-size: 2.4rem !important;
    }
    .contact_container form{
        margin: 0 !important;
    }
}

.footer_conatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
    padding: var(--container-padding);
    border-top: solid 1px #363636;
}

.footer_conatiner a {
    text-decoration: none;
    font-size: 24px;
    background-color: var(--dark-mode);
    background-image: var(--gradient-heading);
    animation: texthover .5s ease;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.github {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: var(--container-padding);
    gap: 24px;
    align-items: center;
}

.github p img {
    max-width: 500px;
}

@media screen and (max-width:550px) {
    .github p img {
        max-width: 300px;
    }
}

:root {
    --light-mode: #e6e6e6;
    --solid-heading: #42446E;
    --gradient-heading: linear-gradient(90deg, #05B3FF 0%, #F40058 70%);
    --light-mode-dark-content: #323232;
    --light-mode-solid-heading-dark-content: #323232;
    --solid-heading-light-content: #42446E;
    --light-content: #A7A7A7;
    --button-text: #018C0F;
    --button-success: #D7FFE0;
    --card-background: #363636;
    --card-background-light: #F5F5F5;
    --nav-font-family: 'Poppins';
    --body-font-family: 'DM Sans';
    --letter-spacing: 2px;
    --word-spacing: 2px;
    --container-padding: 50px;
}

/* Light mode specific styles */
#themebtn{
    background-color: transparent;
    border: 2px solid var(--light-mode);
    border-radius: 50%;
    padding: 6px 6px 3px 5px;
    margin: 0 8px;
}

body.light-mode {
    background-color: var(--light-mode);
}

body.light-mode #themebtn{
    border: 2px solid var(--dark-mode);
}

body.light-mode .herosection,
body.light-mode .card,
body.light-mode .about_container,
body.light-mode .projects_container,
body.light-mode .contact_container,
body.light-mode .contact_container form label,
body.light-mode .contact_container form input,
body.light-mode .footer_conatiner {
    background-color: var(--light-mode);
    color: var(--light-mode-solid-heading-dark-content) !important;
}

body.light-mode .topnav_links a,
body.light-mode .mts_heading h3,
body.light-mode .mts_heading h1 {
    color: var(--light-mode-solid-heading-light-content);
}

body.light-mode .about_me p,
body.light-mode .about_me h1,
body.light-mode .education_container h1,
body.light-mode .projects_flex_container,
body.light-mode .projects_flex_container .achievements,
body.light-mode .edu_two h6,
body.light-mode .card_description {
    color: var(--light-mode-dark-content);
}

body.light-mode .card_title{
    background-color: var(--light-mode-solid-heading-dark-content);
    padding: 4px 12px;
    border-radius: 12px;
    color: var(--light-content);
}

body.light-mode .project_links {
    background-color: var(--button-success);
    color: var(--button-text);
}

body.light-mode .education_info .edu_one, 
body.light-mode .edu_two{
    color: var(--light-mode-solid-heading-dark-content);
}

body.light-mode .edu_two{
    opacity: 0.8;
}

body.light-mode .edu_one p{
    opacity: 0.8;
}

@media screen and (max-width: 550px){
    body.light-mode .card_title{
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        color: var(--dark-content);
    }
    body.light-mode .navbar_flex{
        background-color: var(--light-mode);
    }
}